DATABASE_URL=postgres://docker:password@localhost:5432/health
DJANGO_SECRET_KEY=h3pxr%mxyu8qj#+n(lfx5x_iz-y%u9$)=0$ae2$y+esmc--yg9
SMS_AUTH_KEY=''
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
RABBITMQ_CONNECTION_URL='amqp://guest:guest@localhost:5672/%2F'
RABBITMQ_NOTIFICATION_QUEUE='notifications'
MATRIX_USER_TOKEN=5D25B971969AE4A9B7AC62776D6FC
BASE_URL='http:localhost:8000'
CHAT_API_URL='https://chatqa.docprime.com'
SEND_THROUGH_NODEJS_ENABLED=1
PG_SECRET_KEY='aY678ikloPL'
PG_CLIENT_KEY='b7YPL09/78LKpo9l'
PG_REFUND_URL='http://pgdev.policybazaar.com/dp/refund/refundRequested'