DATABASE_URL=postgres://docker:password@localhost:5432/health
DJANGO_SECRET_KEY=h3pxr%mxyu8qj#+n(lfx5x_iz-y%u9$)=0$ae2$y+esmc--yg9
SMS_AUTH_KEY=''
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
RABBITMQ_CONNECTION_URL='amqp://guest:guest@localhost:5672/%2F'
RABBITMQ_NOTIFICATION_QUEUE='notifications'
MATRIX_USER_TOKEN=5D25B971969AE4A9B7AC62776D6FC
BASE_URL='http:localhost:8000'
ADMIN_BASE_URL='http:localhost:8000'
CHAT_API_URL='https://chatqa.docprime.com'
SEND_THROUGH_NODEJS_ENABLED=1
PG_SECRET_KEY_P1='aY678ikloPL'
PG_CLIENT_KEY_P1='b7YPL09/78LKpo9l'
PG_SECRET_KEY_P2='aY678ikloPL'
PG_CLIENT_KEY_P2='b7YPL09/78LKpo9l'
PG_SECRET_KEY_P3='aY678ikloPL'
PG_CLIENT_KEY_P3='b7YPL09/78LKpo9l'
PG_SECRET_KEY_REFUND='aY678ikloPL'
PG_CLIENT_KEY_REFUND='b7YPL09/78LKpo9l'
PG_REFUND_URL='http://pgdev.policybazaar.com/dp/refund/refundRequested'
PG_DUMMY_TRANSACTION_URL='https://pgqa.docprime.com/pg/api/couponPay'
PG_DUMMY_TRANSACTION_TOKEN='gFH8gPXbCWaW8WqUefmFBcyRj0XBs'
PG_SETTLEMENT_URL='https://pgqa.docprime.com/pg/settlementQueue'
PG_PAYMENT_ACKNOWLEDGE_URL='https://payqa.docprime.com/dp/pay/callBackrecieved'
CONSUMER_APP_DOMAIN='localhost:8000'
OPS_EMAIL_ID='ankurmittal@policybazaar.com'
ORDER_FAILURE_EMAIL_ID='ankurmittal@policybazaar.com'
PG_REFUND_AUTH_TOKEN='gFH8gPXbCWaW8WqUefmFBcyRj0XIw'
API_BASE_URL='localhost:8000'
AUTO_REFUND=True
MATRIX_API_TOKEN='RG9jcHJpbWU= d2Vi'
MATRIX_API_URL='http://qamatrixapi.docprime.com/mrs/website/InsertUpdateLeadProductDetails'
PG_REFUND_STATUS_API_URL='http://payqa.docprime.com/dp/refund/refundStatus'
PROVIDER_APP_DOMAIN=''
REVERSE_GEOCODING_API_KEY='AIzaSyAKhE5Qv0waxS7dRPSoCZCcX9_AAEsHp8g'
OTP_BYPASS_NUMBERS=9711475547,9971898778
MAXMIND_ACCOUNT_ID=136104
MAXMIND_LICENSE_KEY='ieYPAGRJJO4H'
MAXMIND_CITY_API_URL='https://geoip.maxmind.com/geoip/v2.1/city/'
CHAT_PRESCRIPTION_URL='http://chatqa.docprime.com/api/v1/livechat/healthservices/getPrescriptions/'
GOOGLE_MAP_API_KEY='AIzaSyAKhE5Qv0waxS7dRPSoCZCcX9_AAEsHp8g'
RATING_SMS_NOTIF_QA='30'
RATING_SMS_NOTIF_PRD='86400'
GYNECOLOGIST_SPECIALIZATION_IDS=[362,363,358,359,390,369,370]
ONCOLOGIST_SPECIALIZATION_IDS=[388,390,391,392,393,394,395,396]
PAYOUTS_ENABLED=0
#MATRIX_NUMBER_MASKING='http://qamatrixapi.docprime.com/communication/Communication.svc/GetVirtualNumber'
MATRIX_NUMBER_MASKING='http://matrixliveapi.docprime.com/communication/Communication.svc/GetVirtualNumber'
NOTIFICATION_QUEUE=''
PROVIDER_EMAIL='abc@docprime.com'
CELERY_QUEUE='qa-celery'
THYROCARE_USERNAME='dummy'
THYROCARE_PASSWORD='dummypwd'
THYROCARE_API_KEY='asvnCqhd5Kgv@uOCAHDfGt)md5hBcNMfvPgYBeIXe3s='
NO_OF_WEEKS_FOR_TIME_SLOTS=4
THYROCARE_BASE_URL='https://www.thyrocare.com/API_BETA'
THYROCARE_REF_CODE='7738943013'
SAFE_DELETE_INTERPRET_UNDELETED_OBJECTS_AS_CREATED=True
TIME_BEFORE_APPOINTMENT_TO_SEND_OTP=60
TIME_AFTER_APPOINTMENT_TO_SEND_CONFIRMATION=120
TIME_AFTER_APPOINTMENT_TO_SEND_SECOND_CONFIRMATION=1440
MATRIX_STATUS_UPDATE_API_URL='http://qamatrixapi.docprime.com/mrs/website/UpdateLeadStatus'
INSURANCE_GYNECOLOGIST_LIMIT=5
INSURANCE_ONCOLOGIST_LIMIT=5
MONGO_DB_HOST=
MONGO_DB_PORT=27018
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=
MONGO_DB_NAME=
MONGO_STORE=False
IPD_PROCEDURE_CONTACT_DETAILS='abc@docprime.com,def@docprime.com'
THYROCARE_INTEGRATION_ENABLED=True
ORDER_SUMMARY_CRON_TIME=30
THYROCARE_REPORT_CRON_TIME=60

NODAL_BENEFICIARY_API='https://pgqa.docprime.com/pg/insertNodalBeneData'
NODAL_BENEFICIARY_TOKEN='gFH8gPXbCWaW8WqUefINBDRj0SDQA'
BENE_STATUS_API='https://pgqa.docprime.com/pg/beneStatus'
BENE_STATUS_TOKEN='gFH8gPXbCWaW8WqUefGBC8j0SDQA'
SETTLEMENT_DETAILS_API='https://pgqa.docprime.com/pg/api/settlementDetails'
SETTLEMENT_AUTH='gFH8gPXbCWaW8WqUefmFBcyRj0SDs'
THYROCARE_NAME_PARAM_REQUIRED_TESTS='H6,BTHAL,BEAP,CUA,E22,HVA,H5,SEEL,H3,MA,ELEMENTS'

