------------------------------
---------NEVER CHANGE---------
------------------------------
DATABASE_URL='postgres://${DBUSER}:${DBPASS}@qaeksdocprime.cidhydcudaf1.ap-south-1.rds.amazonaws.com:5432/${DATABASE}'
DJANGO_SECRET_KEY=h3pxr%mxyu8qj#+n(lfx5x_iz-y%u9$)=0$ae2$y+esmc--yg9
RABBITMQ_CONNECTION_URL='amqp://guest:guest@10.20.3.10:5672/%2F'
RABBITMQ_NOTIFICATION_QUEUE='${QA_SERVER}_notifications'
BASE_URL='https://${QA_SERVER}.docprime.com'
API_BASE_URL='https://${QA_SERVER}.docprime.com'
CONSUMER_APP_DOMAIN='https://${QA_SERVER}.docprime.com'
ADMIN_BASE_URL='https://${QA_SERVER}.docprime.com'
PROVIDER_APP_DOMAIN='http://providerqa.docprime.com'
SMS_AUTH_KEY=${SMS_AUTH_KEY}
EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
API_ENABLED=True
CELERY_QUEUE='${QA_SERVER}-celery'
ENABLE_SENTRY=True
DJANGO_SENTRY_DSN='https://95266e2c0b0d4f5399d5d8439664cc5e@sentry.io/1224209'
SENTRY_ENVIROMENT=${ENV_CG}
------------------------------
---------NEVER CHANGE---------
------------------------------


AWS_STORAGE_BUCKET_NAME='qa-docprimeweb'
EMAIL_HOST='smtp.mailgun.org'
EMAIL_PORT='25'
EMAIL_HOST_USER='docsmtp@mail.docprime.com'


EMAIL_WHITELIST='pratishta@docprime.com,rishuchaurasia@gmail.com,ronitd@docprime.com,tarunsinghal@docprime.com,rohit.agarwal365@gmail.com,rbm.meh@gmail.com,rajivk@policybazaar.com,ankushg@docprime.com,urspratishta@gmail.com,rajendra@docprime.com,ashish@policybazaar.com,prateekmirdha@policybazaar.com,ankurmittal@policybazaar.com,rohit@docprime.com,brijesh@docprime.com,pratishta@policybazaar.com,dhyey@policybazaar.com,ankurmittal@policybazaar.com,ankurmittal7562@gmail.com,kanhaiya.yadav47@gmail.com,kanhaiyalal@policybazaar.com,arun.tevatia@gmail.com,tevatia.arun@gmail.com,arunchaudhary@policybazaar.com,himanshubajaj@docprime.com'
NUMBER_WHITELIST='9999857565,8800327006,9988841260,8447740373,9896164444,9990641820,9560190710,9730447724,9971802614,9829380543,9501347675,9899705451,9958500567,9971898778,8586065646,9871100353,9910909384,9971898778,9870395617,9369605569,9910588863,9910909384,7011181253,9998949369,8826110333,9711207691,9910588863,9369605569,7678268310,8272878209,8076470445,7028296535,8272878209,8076470445,9811006657,9870395617,8860072827,9910909384,9711525159,8586065646,9582613578,9098757829,8860037027,9958878033,9971097049,9711525159,9582613578,9818088218,7042249079,9910877179,9582557400,9560519761,8586065646,8090248121,7011141844,9871047545'
MATRIX_USER_TOKEN='emr1PrXtgGd7XZXMHljy'

CHAT_API_URL='https://telemed.docprime.com'
#PG_SECRET_KEY='aY678ikloPL'
#PG_CLIENT_KEY='b7YPL09/78LKpo9l'
SEND_THROUGH_NODEJS_ENABLED=True
PG_SECRET_KEY_P1='aY678ikloPL'
PG_CLIENT_KEY_P1='b7YPL09/78LKpo9l'
PG_SECRET_KEY_P2='aY678ikloPL'
PG_CLIENT_KEY_P2='b7YPL09/78LKpo9l'
PG_SECRET_KEY_P3='aY678ikloPL'
PG_CLIENT_KEY_P3='b7YPL09/78LKpo9l'
PG_SECRET_KEY_REFUND='aY678ikloPL'
PG_CLIENT_KEY_REFUND='b7YPL09/78LKpo9l'
PG_REFUND_URL='http://pgdev.policybazaar.com/dp/refund/refundRequested'
PG_DUMMY_TRANSACTION_URL='https://pgqa.docprime.com/pg/api/couponPay'
PG_DUMMY_TRANSACTION_TOKEN='gFH8gPXbCWaW8WqUefmFBcyRj0XBs'
PG_SETTLEMENT_URL='https://pgqa.docprime.com/pg/settlementQueue'
PG_PAYMENT_ACKNOWLEDGE_URL='https://payqa.docprime.com/dp/pay/callBackrecieved'
OPS_EMAIL_ID='ankurmittal@policybazaar.com'
ORDER_FAILURE_EMAIL_ID='ankurmittal@policybazaar.com'
PG_REFUND_AUTH_TOKEN='gFH8gPXbCWaW8WqUefmFBcyRj0XIw'

AUTO_REFUND=True
MATRIX_API_TOKEN='cG9saWN5 YmF6YWFy'
MATRIX_API_URL='http://qamatrixapi.docprime.com/mrs/website/InsertUpdateLeadProductDetails'
PG_REFUND_STATUS_API_URL='http://payqa.docprime.com/dp/refund/refundStatus'
PROVIDER_APP_DOMAIN=''
REVERSE_GEOCODING_API_KEY='AIzaSyAKhE5Qv0waxS7dRPSoCZCcX9_AAEsHp8g'
OTP_BYPASS_NUMBERS=9711475547,9971898778
MAXMIND_ACCOUNT_ID=136104
MAXMIND_LICENSE_KEY='ieYPAGRJJO4H'
MAXMIND_CITY_API_URL='https://geoip.maxmind.com/geoip/v2.1/city/'
CHAT_PRESCRIPTION_URL='http://chatqa.docprime.com/api/v1/livechat/healthservices/getPrescriptions/'
GOOGLE_MAP_API_KEY='AIzaSyAKhE5Qv0waxS7dRPSoCZCcX9_AAEsHp8g'
RATING_SMS_NOTIF_QA='30'
RATING_SMS_NOTIF_PRD='86400'
GYNECOLOGIST_SPECIALIZATION_IDS=[362,363,358,359,390,369,370]
ONCOLOGIST_SPECIALIZATION_IDS=[388,390,391,392,393,394,395,396]
PAYOUTS_ENABLED=0
#MATRIX_NUMBER_MASKING='http://qamatrixapi.docprime.com/communication/Communication.svc/GetVirtualNumber'
MATRIX_NUMBER_MASKING='http://matrixliveapi.docprime.com/communication/Communication.svc/GetVirtualNumber'
NOTIFICATION_QUEUE=''
PROVIDER_EMAIL='abc@docprime.com'
THYROCARE_USERNAME='dummy'
THYROCARE_PASSWORD='dummypwd'
THYROCARE_API_KEY='asvnCqhd5Kgv@uOCAHDfGt)md5hBcNMfvPgYBeIXe3s='
NO_OF_WEEKS_FOR_TIME_SLOTS=4
THYROCARE_BASE_URL='https://www.thyrocare.com/API_BETA'
THYROCARE_REF_CODE='7738943013'
SAFE_DELETE_INTERPRET_UNDELETED_OBJECTS_AS_CREATED=True
TIME_BEFORE_APPOINTMENT_TO_SEND_OTP=60
TIME_AFTER_APPOINTMENT_TO_SEND_CONFIRMATION=2
TIME_AFTER_APPOINTMENT_TO_SEND_SECOND_CONFIRMATION=4
MATRIX_STATUS_UPDATE_API_URL='http://qamatrixapi.docprime.com/mrs/website/UpdateLeadStatus'
INSURANCE_GYNECOLOGIST_LIMIT=5
INSURANCE_ONCOLOGIST_LIMIT=5
MONGO_DB_HOST=
MONGO_DB_PORT=27018
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=
MONGO_DB_NAME=
MONGO_STORE=False
IPD_PROCEDURE_CONTACT_DETAILS='abc@docprime.com,def@docprime.com'
THYROCARE_INTEGRATION_ENABLED=True
ORDER_SUMMARY_CRON_TIME=30
THYROCARE_REPORT_CRON_TIME=60

NODAL_BENEFICIARY_API='https://pgqa.docprime.com/pg/insertNodalBeneData'
NODAL_BENEFICIARY_TOKEN='gFH8gPXbCWaW8WqUefINBDRj0SDQA'
BENE_STATUS_API='https://pgqa.docprime.com/pg/beneStatus'
BENE_STATUS_TOKEN='gFH8gPXbCWaW8WqUefGBC8j0SDQA'
SETTLEMENT_DETAILS_API='https://pgqa.docprime.com/pg/api/settlementDetails'
SETTLEMENT_AUTH='gFH8gPXbCWaW8WqUefmFBcyRj0SDs'
THYROCARE_NAME_PARAM_REQUIRED_TESTS='H6,BTHAL,BEAP,CUA,E22,HVA,H5,SEEL,H3,MA,ELEMENTS'
IS_INSURANCE_ACTIVE=True
PROVIDER_ANDROID_MESSAGE_HASH='DSljfXYFMIX'
CONSUMER_ANDROID_MESSAGE_HASH='38dXj5tvW9w'
PG_PAYOUT_CLIENT_KEY=''
PG_PAYOUT_SECRET_KEY=''
PARTNERS_INVOICE_ENCODE_KEY='n1E@GXZXTC!v6RsV#yxLf0Y79Ks0$nVxu3E=qbgIJwWP'
MATRIX_DOC_AUTH_TOKEN='MatDoc1092=='


MSSQL_HOST=
MSSQL_USERNAME=
MSSQL_DB=
MSSQL_PASSWORD=
INSURANCE_FLOAT_LIMIT_ALERT_EMAIL='tarunsinghal@docprime.com,akashs@docprime.com,ankushg@docprime.com'
INSURANCE_MIS_EMAILS='tarunsinghal@docprime.com,akashs@docprime.com,ankushg@docprime.com'
INSURANCE_MIS_PASSWORD='docprime'
DEAL_AGREED_PRICE_CHANGE_EMAILS=''
LOGO_CHANGE_EMAIL_RECIPIENTS=''
PROVIDER_SMS_APPOINTMENT_REMINDER_TIME=5
TIME_AFTER_APPOINTMENT_TO_SEND_THIRD_CONFIRMATION=2880
INSURANCE_SPECIALIZATION_WITH_DAYS_LIMIT=[468,469,471,472,473,474,475,628,450,446,436,438,442,443,444,458,459,461,454]
DOCPRIME_NODAL2_MERCHANT=10007543
DEFAULT_FOLLOWUP_DURATION=7
HOSPITALS_NOT_REQUIRED_UNIQUE_CODE=[3068, 4290, 3241, 3240, 203]
MEDANTA_HOSPITAL_ID=109
CHAT_IPD_DEPARTMENT_ID=''
CHAT_SOT_DEPARTMENT_ID=''