table>tbody>tr>td
{
    line-height: 25px !important;
}

h1
{
    font-size: 20px;
}

/*
input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.form-horizontal{

   border-bottom: 0.8px solid #b6b4b4;
   padding-top: 12px;
}
.form-horizontal, .control-label{
    text-align: left !important;
}
.panel-heading{
   background-color:#78aec8 !important;
}
.test_margin{
  margin-bottom: 20px;
}
.save_ajax_wrap{
   width: 60%;
}

.remove_ajax_wrap{
   width: 60%;
}
.status_error{
  color: red;
}
.lab_form_submit{
  margin-top: 35px;
  margin-left: 15px;
}
.cust-input{
    width:70%;
}

input[disabled]
{
    background: #fff;
    border: none;
}*/
.loader {

  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #000;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.overlay {
    display: none;
    background: #e9e9e99e;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    left: 0;
}
.loader_wrap{
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  margin:auto;
 }