body
{
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 400;
    background: #f2f3f3;
}

label
{
    text-align: left !important;
    color: #00AAC5;
    font-weight: 400;
}

.panel
{
    box-shadow: -1px 1px 10px 1px rgba(0,0,0,.1);
}

.heading-icon
{
    margin-right: 10px;
}

.asteriskField
{
    color: red;
    margin-left: 2px;
    font-size: 11px;
}

.panel-default>.panel-heading
{
    padding:12px 25px;
    font-size: 16px;
    background: #fff;
}

.panel-heading>span
{
    display: inline-block;
    position: relative;
    top: 2px;
}

.form-control
{
    border: none;
    outline:  none;
    box-shadow: none;
    background: #F4F4F4;
    font-size: 13px;
}

@media (min-width:768px)
{

.panel-body
{
    padding:20px 100px 20px 25px ;
}

.address
{
    font-size: 26px;
    padding:40px;
}


}

.panel-footer
{
    font-size: 16px;
    background: #fff;
    border: none;
    color: #757575;
    padding: 10px 25px;
}

.glyphicon
{
    color: #00AAC5;
    margin-right: 5px;
}


.dropzone .dz-preview.dz-image-preview
{
    margin: 10px 10px 0 0;
}

.dropzone .dz-preview .dz-image
{
    border-radius: 0;
}

.error .terms-error
{
    display: block !important;
}