html, body{
	font-family: Quicksand;
	background: linear-gradient(to right, #65b174 , #4ea2c7);
}

a, a:hover, a:active, a:visited{
	text-decoration: none;
}

.body-wrapper{
	min-height: 100vh;
	padding-bottom: 56px;
	background: url('../images/background_icons.png'), url('../images/bg_pattern.png');
	background-repeat: no-repeat, no-repeat;
	background-position: -25px -250px, 0px 0px;
}

.logo-icon-div{
	margin-top: 10px;
}

.logo-text{
	color: #ffffff;	
	font-size: 18px;
	margin-bottom: 0;
}

.logo-icon{
	width: 150px;
	margin-left: 14px;
}

.main-info-div{
	margin-top: 20px;
	text-align: center;
}

.phone-img-div{
	display: inline-block;
	position: relative;
}

.phone-img-div{
	z-index: 10;
}

.img-info-div{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	max-width: 560px;
	text-align: center;
	padding: 16px 36px;
	padding-left: 56px;
	margin-left: -50px;
	margin-top: -12px;
	border-radius: 30px;
	background-color: #ffffff;
	box-shadow: 0px 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.coming-soon-text{
	font-size: 49px;
	letter-spacing: 4.9px;
  	background: linear-gradient(to right, #65b174 , #4ea2c7);
  	-webkit-background-clip: text;
  	background-clip: text;
  	-webkit-text-fill-color: transparent;
  	margin-top: 1rem;
  	font-weight: 600;
}

.detail-text{
	font-size: 24px;
	color: #f68a32;
}

.signup-label{
	text-align: left;
	font-size: 19px;
	color: #757575;
	margin-bottom: 4px;
}

.send-btn, .send-btn:hover{
	border-radius: 12px;
	border: none;
	padding: 8px 30px;
  	background-color: #f78631;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 
}

.footer{
	margin-top: -56px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.footer-row{
	align-items: center;
}

.footer-text, .footer-text>a{
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
}

.footer-text>span{
	margin-left: 8px;
	margin-right: 8px;
}

.footer-icons{
	text-align: right;
}

.footer-icon{
	margin-left: 4px;
	margin-right: 4px;
}

@media(max-width: 992px){
	.phone-img-div{
		display: none;
	}
	.img-info-div{
		margin: 0;
	}
}

@media(max-width: 575px){
	.body-wrapper{
		padding-bottom: 120px;
	}
	.main-info-div{
		margin-top: 20px;
	}
	.img-info-div{
		padding: 16px;
		margin: 0;
	}
	.logo{
		width: 100%;
	}
	.coming-soon-text{
		font-size: 36px;
	}
	.detail-text{
		font-size: 20px;
	}
	.signup-label{
		font-size: 16px;
	}
	.footer{
		margin-top: -120px;
	}
	.footer-col, .footer-icons{
		text-align: center;
		margin-top: 20px;
	}
}